<h3 class="text-center" >コメント一覧</h3>
<div class="row-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>コメント</th>
      </tr>
    </thead>
    <tbody>
      <% score.comments.each do |comment| %>
        <tr>
          <td class="col-2"><%= comment.user.name %></td>
          <td class="col-8"><%= comment.comment %></td>
          <td class="col-2">
            <% if comment.user == current_user %>
              <%= link_to "Destroy", score_comment_path(score, comment), method: :delete, class: "btn btn-danger pull-right", remote: true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>