<div class="container">
  <div class="row-responsive text-center">
    <h1 class="text-center">MusicScore List</h1>
    <h3 class="text-center">About</h3>
    <h3 class="text-center">このサイトの使い方</h3>
  </div>
  <div class="row-responsive text-center">
    <ul id="tab-menu">
      <li><a href="#tab1" class="active">このサイトについて</a></li>
      <li><a href="#tab2" class="">利用方法1</a></li>
      <li><a href="#tab3" class="">利用方法2</a></li>
      <li><a href="#tab4" class="">利用方法3</a></li>
    </ul>
    <div id="tab-contents">
      <div id="tab1" class="tab">
        <p>
          このサイトは会員の皆様が楽譜を投稿し、共有するサイトです。<br>
          効率的な楽器練習、作譜の学習などに利用できるように<br>
          気になる投稿をリスト化して利用しやすくなっています。
        </p>
      </div>

      <div id="tab2" class="tab">
        <p>
          投稿一覧から楽譜の閲覧、新規投稿ができます。<br>
          投稿は楽曲名、アーティスト名、楽器の情報があり、検索や並び替えが可能です。
        </p>
      </div>

      <div id="tab3" class="tab">
        <p>
          気になる投稿はマイリスト（自分だけの一覧）を作成してまとめることができます。<br>
          好きな楽曲をアーティストや楽器ごとにまとめたり、練習したい楽譜をまとめたりと、<br>
          様々な利用方法があります。
        </p>
      </div>

      <div id="tab4" class="tab">
        <p>
          いいねを付けた楽譜はマイページのいいね一覧に表示されます。<br>
          この中から作成するマイリストに加えたい楽譜を選んだり、ちょっとした確認ができます。
        </p>
      </div>
    </div>
    
  </div>
</div>