<div class="container">
  <div class="row">
    <div class="col-8">
      <p><%= @mylist.name %></p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead  style="background-color:rgba(130,0,0,0.8);", class="text-white"><!--追記-->
          <tr>
            <td>楽曲名</td>
          </tr>
        </thead>
        <tbody style="background-color:rgba(255,255,255,0.5);">
          <% @mylist_score.each do |mylist_score| %>
            <tr>
              <td>
                <%= link_to score_path(@score) do %>
                  <u><%= mylist_score.score.name %></u>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>