<li><%= link_to "マイページ", mypage_path, class: 'nav-link text-light' %></li><!--会員一覧へのリンク-->
<li><%= link_to "投稿一覧", scores_path, class: 'nav-link text-light' %></li><!--投稿楽譜一覧へのリンク-->
<li><%= link_to "ログアウト", destroy_user_session_path, class: 'nav-link text-light', method: :delete %></li><!--ログアウトへのリンク-->